.vscode/

build/
cmake-build-*/

*.o
*.obj
*.a
*.so
*.dylib
*.dll

*.exe
*.bin
a.out
core
core.*

Cities/Solution/Code/cities
Chinese_Postman/Solution/Code/postman
KA_Groupings/Solution/Code/ka_groups
EFF/Solution/Code/eff
